/*Aqui começa a mecher dentro do site, em cima é o código do relatório*/
@media print { 
    body * {
        visibility: hidden;
    }
   #relatorio, #relatorio * {
        visibility: visible;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /*Aqui começa a mecher dentro do site, em cima é o código do relatório*/
}

/*Mechendo no estilo do body*/
body {
    margin: 0; 
    padding: 0;
    background-color: #4e5f51;
    color: #f0da96;
}

/*Mechendo no estilo (Header e Footer)*/
header {
    text-align: center;
    background-color: #2b2b2b3b;
    width: auto;
    height: auto;
}

footer {
    background-color: #2b2b2b3b;
    width: auto;
    height: 150px;
    position: relative;
}

/* Estilo específico para o rodapé do site*/
.pé {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/*Cor dos textos*/
h2 {      
    color: #f7e6a9;
}

/* Estilos de Colunas e Textos (Layout Principal)*/
.lado {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

.lado1 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto1 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

.lado2 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

/*Mechendo nas imagens*/
.imagem-Logo {
    width: 400px;
    height: auto; 
}
.imagem-Final {
    width: 150px;
    height: auto;
}
.eu-png {
    width: 30px;
    height: 30px;
}
