/*Aqui começa a mecher dentro do site, em cima é o código do relatório*/
@media print { 
    body * {
        visibility: hidden;
    }
   #relatorio, #relatorio * {
        visibility: visible;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /*Aqui começa a mecher dentro do site, em cima é o código do relatório*/
}

/*Mechendo no estilo do body*/
body {
    margin: 0; 
    padding: 0;
    background-color: #4e5f51;
    color: #f0da96;
}

/*Mechendo no estilo (Header e Footer)*/
header {
    text-align: center;
    background-color: #2b2b2b3b;
    width: auto;
    height: auto;
}

footer {
    background-color: #2b2b2b3b;
    width: auto;
    height: 150px;
    position: relative;
}
.cabeca fieldset {
    height: 1px;
    transform: scaleY(0.4); /* Esse codigo reduz a altura usando Transform: scaleY(0.4) isso fará com que o elemento de 1px pareça ter 0.4px de altura.*/
    background-color: #f0da96;
}

/* Estilo específico para o rodapé do site*/
.pé {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/*Cor dos textos*/
h2 {      
    color: #f7e6a9;
}



/* Estilos de Colunas e Textos (Layout Principal)*/

.lado0 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto0 {
    width: 96%;
    padding: 20px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

.lado {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

.lado1 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto1 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

.lado2 {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
}

/*Mechendo nas imagens*/
.imagem-Logo {
    width: 400px;
    height: auto; 
}
.imagem-Final {
    width: 150px;
    height: auto;
}


.subtitulo-centralizado {
  text-align: center;
}
.subtitulo-centralizado1 {
  text-align: center;
}
.subtitulo-centralizado2 {
  text-align: center;
}
.subtitulo-centralizado3 {
  text-align: center;
}

.caixaa {
    width: 1230px; 
    height: 100px; 
    background-color: #2b2b2b3b; 
    color: #f7e6a9; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.caixa {
    flex: 1; /* deixa as caixas organizadas */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #000000; 
}

.item-1 {
    background-color: #2b2b2b3b; 
}
.item-2 {
    background-color: #2b2b2b3b; 
}
.item-3 {
    background-color: #2b2b2b3b; 
}
.item-4 {
    background-color: #2b2b2b3b; 
}
.item-5 {
    background-color: #2b2b2b3b; 
}
.item-6 {
    background-color: #2b2b2b3b; 
}
.item-7 {
    background-color: #2b2b2b3b; 
}
.item-8 {
    background-color: #2b2b2b3b; 
}


.container {
    display: flex; 
    justify-content: center;
    gap: 20px; /* Adiciona espaço entre as caixas */
    flex-wrap: wrap; /* Permite que as caixas quebrem para a próxima linha em telas menores */
}

.box {
    width: 300px; 
    background-color: #2b2b2b3b;
    border: 1px solid #000000;
    padding: 20px; 
    margin: 10px; 
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*sombra*/
    transition: transform 0.3s; /* efeito de hover */
}

.box:hover {
    transform: translateY(-5px); /* Move a caixa ligeiramente para cima no hover */
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box; /*largura*/
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e8d281;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #eddb9a;
}
